@import '../../../../styles.scss';

.profile {
  padding: 30px 0px;
  .profile-form {
    .avatar {
      width: 100px;
      height: 100px;
      background: #343a40;
      border-radius: 50%;
      position: relative;
      box-shadow: 0 0 10px #cccccc;
      display: block;
      margin: auto;
      h1 {
        color: #ffffff;
        text-align: center;
        padding: 23px;
      }
    }
    form {
      padding-top: 30px;
    }
  }
}
