@import '../../../../styles.scss';

.profile {
  padding: 30px 0px;
  .profile-form {
    .avatar {
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
      }
    }
    form {
      padding-top: 30px;
    }
  }
}
