@import '../../../../styles.scss';

.signup {
  padding: 30px 0px;
  .heading-bar {
    h6 {
      font-size: 18px;
      color: black;
      font-weight: 500;
    }
    p {
      font-size: 13px;
      color: gray;
      padding-top: 3px;
    }
  }
  .signup-form {
    padding-top: 35px;
    .login-account {
      padding-top: 40px;
      span {
        color: gray;
        font-size: 16px;
      }
      a {
        font-weight: 500;
        font-size: 17px;
        padding-left: 2px;
        color: black;
      }
    }
  }
}
