<section>
  <div class="view-board">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-bar">
            <h6>View Board</h6>
            <button class="btn btn-primary" routerLink="/boards/add-edit-board" (click)="editBoard(data)">Edit Board</button>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-12">
            <h1 class="title">{{data.title}}</h1>
            <p class="date">{{data.created_at | date}}</p>
            <p class="description">{{data.description}}</p>
          </div>
        </div>
      </div>

      <div class="comments-section">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>Comments</h2>
            </div>
          </div>
        </div>
        <div class="comment mb-3">
          <div *ngIf="data.comments.length > 0">
            <div class="row mb-3" *ngFor="let item of data.comments">
              <div class="col-2 col-md-2 col-lg-1">
                <div class="left-side">
                  <div class="avatar">
                    <h3>{{item.username?.charAt(0)}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-10 col-md-10 col-lg-11">
                <div class="right-side">
                  <h6>{{item.username}}</h6>
                  <p>{{item.value}}</p>
                </div>
                <div class="reply-date">
                  <p>{{item.date | date}}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="data.comments.length == 0">
            <p class="text-muted">No comments found.</p>
          </div>
        </div>
      </div>

      <div class="comment-area pt-3">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="programForm">
              <textarea rows="3" placeholder="Comment" class="form-control" formControlName="comment"></textarea>
            </form>
          </div>
          <div class="col-12">
            <button class="btn btn-primary mt-3"
              (click)="comment()"
              [disabled]="programForm.invalid" 
              [ngClass]="{'disable-opacity': programForm.invalid}">
              Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
