<section>
  <div class="view-board">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-bar">
            <h6>View Board</h6>
            <button type="submit" class="btn btn-primary" routerLink="/boards/add-edit-board">Edit Board</button>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-12">
            <h1 class="title">Lorem Ipsm</h1>
            <p class="date">Date: 17-April-2021</p>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
          </div>
        </div>
      </div>
      <div class="comments-section">
        <div class="row">
          <div class="col-12">
            <div class="heading">
              <h2>Comments</h2>
            </div>
          </div>
        </div>
        <div class="comment mb-3">
          <div class="row">
            <div class="col-2 col-md-2 col-lg-1">
              <div class="left-side">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
            <div class="col-10 col-md-10 col-lg-11">
              <div class="right-side">
                <h6>Lucas Milano</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="reply-date">
                <p>1 day</p>
                <a>Reply</a>
              </div>

              <div class="reply-comment">
               <div class="d-flex">
                <img class="mr-2" src="../../../../assets/img/man1.jpg">
                <div class="reply-row">
                  <h6>Lucas Milano</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
               </div>
                <div class="reply-date">
                  <p>1 day</p>
                  <a>Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment mb-3">
          <div class="row">
            <div class="col-2 col-md-2 col-lg-1">
              <div class="left-side">
                <img src="../../../../assets/img/man1.jpg">
              </div>
            </div>
            <div class="col-10 col-md-10 col-lg-11">
              <div class="right-side">
                <h6>Lucas Milano</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="reply-date">
                <p>1 day</p>
                <a>Reply</a>
              </div>

              <div class="reply-comment">
               <div class="d-flex">
                <img class="mr-2" src="../../../../assets/img/man.jpg">
                <div class="reply-row">
                  <h6>Lucas Milano</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
               </div>
                <div class="reply-date">
                  <p>1 day</p>
                  <a>Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment mb-3">
          <div class="row">
            <div class="col-2 col-md-2 col-lg-1">
              <div class="left-side">
                <img src="../../../../assets/img/man.jpg">
              </div>
            </div>
            <div class="col-10 col-md-10 col-lg-11">
              <div class="right-side">
                <h6>Lucas Milano</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="reply-date">
                <p>1 day</p>
                <a>Reply</a>
              </div>

              <div class="reply-comment">
               <div class="d-flex">
                <img class="mr-2" src="../../../../assets/img/man1.jpg">
                <div class="reply-row">
                  <h6>Lucas Milano</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
               </div>
                <div class="reply-date">
                  <p>1 day</p>
                  <a>Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comment mb-3">
          <div class="row">
            <div class="col-2 col-md-2 col-lg-1">
              <div class="left-side">
                <img src="../../../../assets/img/man1.jpg">
              </div>
            </div>
            <div class="col-10 col-md-10 col-lg-11">
              <div class="right-side">
                <h6>Lucas Milano</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="reply-date">
                <p>1 day</p>
                <a>Reply</a>
              </div>

              <div class="reply-comment">
               <div class="d-flex">
                <img class="mr-2" src="../../../../assets/img/man.jpg">
                <div class="reply-row">
                  <h6>Lucas Milano</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
               </div>
                <div class="reply-date">
                  <p>1 day</p>
                  <a>Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
